.pane {
	display: flex;
	flex-direction: column;
	position: fixed;
	bottom: 6rem;
	z-index: 5;
	width: calc(100vw - 4rem);
	height: 50%;
	overflow: auto;
	gap: 2rem;
	background-color: var(--bg-color-2);
	box-shadow: 0 0 10px 0.1px var(--brand-color);
	padding: 2rem;
	border-radius: 2rem;
}

@media screen and (min-width: 1280px) {
	.pane {
		bottom: initial;
		top: 2rem;
		width: 25rem;
		height: initial;
	}
}

@media screen and (min-width: 768px) {
	.pane {
		position: sticky;
		bottom: initial;
		top: 2rem;
		width: 25rem;
		height: initial;
	}
}
