.form {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 100%;
}

.button-group {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin-top: 1rem;
}

.cover-drop {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.cover-change-button {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 0.5rem;
	background-color: var(--bg-color-2);
	border: 2px solid #ccc;
	border-radius: 0.5rem;
	color: var(--text-color-1);
}

.cover-change-icon {
	font-size: 2rem;
}