.book {
	display: flex;
	flex-direction: column;
	height: 375px;
	width: 200px;
}

.cover {
	width: 200px;
	height: 300px;
	overflow: hidden;
	border-radius: 15px;
	position: relative;
	transition: ease-in-out 200ms;
	box-shadow: 0 0 10px 0.1px var(--brand-color);

	&:hover,
	&:focus {
		scale: 1.02;
	}
}

.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.page canvas {
	max-width: 100%;
}

.action-group {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 0.5rem;
}

.meta-section {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: space-between;
}

.meta-text {
	display: flex;
	position: relative;
	flex-direction: column;
	padding: 0.5rem;
}

.title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.author {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 0.75rem;
	color: var(--text-color-2);
}
